h1 {
    margin-top: 25px;
}

.coin_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid white;
    padding: 50px;
    border-radius: 10px;
    width: 50vw;

    .coin_name_container {
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        justify-content:center;

        img {
            height: 150px;
            width: 150px;
        }

        h1 {
            font-size: 40px;
            margin: 0;
        }
    }

    .price_container {
        background-color: rgba(255,255,255,.2);
        padding: 25px;
        border-radius: 5%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
        .price_box {
            display: flex;
            justify-content: space-between;

            p {
                font-size: 18px;
            }
        }

        #high_num {
            color: greenyellow;
        }

        #low_num {
            color: red;
        }
    }
}


.alerts_box {
    h4 {
        margin: 25px 0px 0px 0px;
    }

    p {
        font-size: 16px;
        margin-bottom: 50px;
        color: lightgrey;
    }

    .alerts_flex {
        display: flex;
        justify-content: space-evenly;
        height: 100%;

        h6 {
            margin: 0;
            margin-bottom: 25px;
        }
    }

    .input_container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .input_flex {
            display: flex;
            align-items: center;

            label {
                font-size: 20px;
                margin-right: 10px;
            }

            input {
                margin-right: 10px;
                height: 26px;
                width: 120px;
            }

        }
    }
}

button {
    margin: 25px;
    padding: 5px 10px;
    background: none;
    color: white;
    border: 1px solid white;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        background: rgba(255,255,255,.15);
    }

    &:active {
        background: white;
    }
}
