
.alerts_box {
    width: 50vw;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 25px;
    padding-bottom: 25px;

    h4 {
        margin: 25px 0px;
    }

    p {
        font-size: 16px;
        margin-bottom: 50px;
        color: lightgrey;
    }

    .alerts_flex {
        display: flex;
        justify-content: space-evenly;
        height: 100%;

        h6 {
            margin: 0;
            margin-bottom: 25px;
        }
    }

    .input_container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .input_flex {
            display: flex;
            align-items: center;

            label {
                font-size: 20px;
                margin-right: 10px;
            }

            input {
                margin-right: 10px;
                height: 26px;
                width: 120px;
            }

        }
    }
}